{%RootLayout title='Login'%}
  {%SimpleLayout title='Login to your existing account'%}
      <div class="s4">&nbsp;</div>
      {%BoxContainer title='Login with email' class='con s4' %}
      <div class="con spy10">
        <input class="s12 spy5" type="text" name="" id=""></div>
      <div class="con spy10">
        <input class="s12 spy5" type="text" name="" id=""></div>
      <div class="con stac">
        {%SubmitButton%}Login{%/SubmitButton%}
      </div>                
      {%/BoxContainer%}
      <div class="s4">&nbsp;</div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
  {%/SimpleLayout%}
{%/RootLayout%}
