<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}} - Forecasts</title>
	<base href="{{request.scheme}}://{{request.get_host}}/">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/parallel-3.9.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <style c>
		@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    	body{
    		background:#000;
    		font-family:'Open Sans', sans-serif;
    	}
    	body>header{
    		background:#29425f;
    		color:#fff
    	}
    	body>main{
    		background:#f2f2f2;
    	}
    	body>footer{
    		background:#d9dcdf;
    	}
    	body>footer>.bot{
    		background:#000;
    		color:#fff
    	}
    	a:hover{
    		color:#b2d375
    	}
    </style>
</head>
<body>
	<header class="spx15 spy20">
		<div class="con">
			<a href=""><b>HEADER</b></a>
			<nav class="sfr">
				<a href="">Home</a>
				&emsp;
				<a href="about/">About</a>
        &emsp;
        <a href="login/">Login</a>
        &emsp;
        <a href="register/">Register</a>
			</nav>
		</div>
	</header>
	<main>
		{{main}}
	</main>
	<footer>
		<div class="mid">
			<a href="team/">Team</a>
      &emsp;
      <a href="terms-and-conditions/">Terms</a>
      &emsp;
      <a href="privacy-policy/">Privacy Policy</a> 
		</div>
		<div class="bot stac spy10 sfs09">
			All Rights Reserved
		</div>
	</footer>
</body>
</html>
