{%once 'ExpandableContainer' as once%}
{%id as id%}
{%if once%}
	<script c>
		var ExpandableContainer={
			onClick(ev,fn){
				const{
					id,
					icon,
					titleElement,
					contentElement
				}=ev;
				var expanded=icon!=='caret-up';
				ev.changeIcon(expanded?'caret-up':'caret-down');
				contentElement.classList.toggle('sdn');
				fn({
					id,
					contentElement,
					titleElement,
					expanded
				});
			}
		};
	</script>
{%endif%}
{%if expanded%}
	{%SimpleContainerWithButtonLayout id=id title=title icon='caret-down' expanded=True onclick='ExpandableContainer.onClick(ev,ev=>{'|add:onclick|add:'})'%}
	  {{children}}
	{%/SimpleContainerWithButtonLayout%}
{%else%}
	{%SimpleContainerWithButtonLayout id=id title=title icon='caret-up' onclick='ExpandableContainer.onClick(ev,ev=>{'|add:onclick|add:'})'%}
	  {{children}}
	{%/SimpleContainerWithButtonLayout%}
{%endif%}
